<!--The content below is only a placeholder and can be replaced.-->

  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <div class="container-fluid">
      <div style="text-align:center">
          <div class="jumbotron">
          <div class="card border-info mb-3" style="max-width: 100%; background-color: blue;">
          <div class="card-header">
           <h1>FEED YOUR BRAIN WITH {{ title }}!</h1>
        </div>
      </div>
      </div>
  </div>
  </div>
  <app-quote></app-quote>
<router-outlet></router-outlet>

