<div style="text-align: center">
    <div class="container">
        <h1>Quotes Hub</h1>        
        <br>
    </div>
    <div class="container-fluid">
        <div *ngFor='let quote of quotes;let i = index'>

            <p>{{quote.id}}. {{quote.quote}}</p>
            
            <button class="btn btn-primary" (click)="showDetails(i)">Quote details</button>

            <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (trashQuote)="trashTheQuote($event, i)"></app-quote-details>

        </div>
    </div>
    <div class="container-fluid">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>