<div style="text-align: center">
    <div class="container-fluid">
        <h2>New Quote Form</h2>
        
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            
            <div class="form-group">
                <label for="quote">QUOTE</label>
                <textarea type="text" rows="2"  class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required></textarea>
                <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                    <p>A quote is required</p>
                </div>
            </div>

            <div class="form-group">
                <label for="author">AUTHOR</label>
                <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <P>Author's name is required</P>
                </div>                
            </div>

            <div class="form-group">
                <label for="name">USER NAME</label>
                <input type="text"  class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>User name is required</p>
                </div>
            </div>

            <div class="form-group">
                <label for="dateCreated">Date Created</label>
                <input type="date" class="form-control" id="dateCreated" [(ngModel)]="newQuote.dateCreated" name="dateCreated" #dateCreated='ngModel' required>
                <div [hidden]="dateCreated.valid || dateCreated.pristine" class="alert alert-danger">
                    <p>Date Created should be stated</p>
                </div>
            </div>
            
            <button type="submit" class="btn btn-success btn-lg">submit</button>
        </form>
    </div>
</div>